.titleBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: #333;
    margin-bottom: 10px;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 25px;
}
