.card {
    display: grid;
    grid-template-columns: 90px 1fr auto;
    grid-template-rows: auto auto;
    gap: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
}

.imageContainer {
    grid-column: 1;
    grid-row: 1 / span 2;
    align-self: center;
}
.imageContainer img {
    width: 80px;
}
.buttonContainer {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    justify-content: flex-end;
}

.priceContainer {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.meta {
    grid-column: 2/3;
    grid-row: 2 / 3;
    font-size: 12px;
    color: var(--textGray);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.name {
    font-size: 12px;
    margin: 0 0 8px 0;
    color: var(--text);

    text-overflow: ellipsis;
}

.features {
    font-size: 14px;
    color: var(--textGray);
    margin-bottom: 12px;
    line-height: 1.4;
}

.price {
    font-size: 15px;
    font-weight: bold;
    color: var(--text);
    margin-bottom: 5px;
}

.buyButton {
    width: auto;
    margin-top: auto;
    padding: 6px 10px;
    background: var(--blue);
    color: var(--text);
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 0;
    font-weight: bold;
}

.icon {
    width: 24px;
    height: 24px;
    color: var(--blue);
    transition: color 0.2s ease;
}
.active {
    color: red;
}

.priceButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.activeBtn {
    background-color: transparent;
    color: red;

    border: 1px solid red;
}

.link {
    text-decoration: none;
    color: var(--text);
}
